<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Getting Robots using MongDB</title>
  </head>
  <body>
    {{#roboties}}
      <img src="{{avatar}}">
      <p>{{Robots}}</p>
    {{/roboties}}
  </body>
</html>
